body {
    margin: 0;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    min-height: 100vh;
    
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.top-bar{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E90FF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    
}

.top-bar h1 {
    color: white
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 248, 255); 
    margin: 220px auto; 
    border-radius: 110px;
    max-width: 800px
    

}

input{
    width: 500px;
    height: 50px;
    box-sizing:border-box;
    margin:20px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #1E90FF;
    border-radius: 25px;
    background-color:#f8f9fa;
    
}

input::placeholder{

    color:#888
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{

    width: 200px;
    height: 40px;
    background-color: #1E90FF; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    border-style: solid;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

}

.footer{

    height:25px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1E90FF;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border-top:3px solid rgb(226, 252, 255);

}